<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetFinal.Properties.Settings.HotelLuneConnectionString"
            connectionString="Data Source=DESKTOP-GFQ1SUE\SQLEXPRESS;Initial Catalog=HotelLune;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cnxSqlServer" connectionString="Data Source=C-2MJPJKVTE785I;Initial Catalog=HotelLune;User ID=sa;Password=sql;"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFinal.Properties.Settings.HotelLuneConnectionString1"
            connectionString="Data Source=C-2MJPJKVTE785I;Initial Catalog=HotelLune;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="cnx"
            connectionString="Data Source=C-BLBDLH83H3D3N;Initial Catalog=HotelLune;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>